{% extends 'base_page.html' %}

{% load staticfiles %}

{% block "css" %}
    {{ block.super }}
    <link rel="stylesheet" href="{% static "css/geonet/leaflet.css" %}"/>
    <link rel="stylesheet" href="{% static "css/geonet/maps.css" %}"/>
    <link rel="stylesheet" href="{% static 'js/geonet/Icon.Label.css' %}"/>
{% endblock %}

{% block "title" %}ASPC Maps{% endblock %}

{% block "page_title" %}ASPC Maps{% endblock %}

{% block "content" %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="http://cdn.leafletjs.com/leaflet/v0.7.7/leaflet.js"></script>
    <script src="{% static 'js/geonet/Icon.Label.js' %}"></script>
    <script src="{% static 'js/geonet/Icon.Label.Default.js' %}"></script>
    <div id="map"></div>
    <div id="demo"></div>
    <script>
        function getCookie(c_name)
            {
                if (document.cookie.length > 0)
                {
                    c_start = document.cookie.indexOf(c_name + "=");
                    if (c_start != -1)
                    {
                        c_start = c_start + c_name.length + 1;
                        c_end = document.cookie.indexOf(";", c_start);
                        if (c_end == -1) c_end = document.cookie.length;
                        return unescape(document.cookie.substring(c_start,c_end));
                    }
                }
                return "";
             }
        var map = L.map('map').setView([34.10079, -117.71008], 15);

        L.tileLayer('https://api.tiles.mapbox.com/v4/{id}/{z}/{x}/{y}.png?access_token={accessToken}', {
            attribution: 'Map data &copy; <a href="http://openstreetmap.org">OpenStreetMap</a> contributors, <a href="http://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>, Imagery © <a href="http://mapbox.com">Mapbox</a>',
            maxZoom: 18,
            id: 'theworldbright.cigynx23b0v78vom37eq48g8l',
            accessToken: 'pk.eyJ1IjoidGhld29ybGRicmlnaHQiLCJhIjoiY2lneW54M2k2MHc4dHgxbTByZDZjMGJzYSJ9.dZ0qqOLXMzPZbPTvrMjgDw'
        }).addTo(map);

        $.ajaxSetup({   //56ae77f3ddd09baa649c5735cbc27904f7e0d933
                        headers: {
                            'Authorization': "Token ccf061d573687674b35e3fa4d68d5ca569435fe1",
                             "X-CSRFToken": getCookie("csrftoken")
                        }
                    })

    </script>
    <script src="{% static 'js/geonet/friend_class.js' %}"></script>
    <script src="{% static 'js/geonet/self_update_location.js' %}"></script>
    <script src="{% static 'js/geonet/self_push_location.js' %}"></script>
    <script src="{% static 'js/geonet/friend_class.js' %}"></script>
    <script src="{% static 'js/geonet/get_friends_list.js' %}"></script>
    <script src="{% static 'js/geonet/display_friends.js' %}"></script>
{% endblock %}